%h2
  - if can? :manage, @exercise
    .dropdown.pull-right
      %a.btn.btn-sm.btn-primary.dropdown-toggle#dropdownMenu1{type: "button", data:{toggle:"dropdown"}, aria:{haspopup:"true", expanded:"false"}}
        %i.fa.fa-cog
        %span.caret
      %ul.dropdown-menu{aria:{labelledby:"dropdownMenu1"}}
        %li
          = link_to edit_references_exercise_path(@exercise) do
            %i.fa.fa-edit
            = t '.actions.edit'
        %li
          = link_to '#', data: { toggle: "modal", target: "#confirm-delete"} do
            %i.fa.fa-trash-o
            = t '.actions.delete'
  %div{style: 'margin-right: 50px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'}
    = link_to References::Exercise.model_name.human(count: ''), references_exercises_path
    %i.fa.fa-chevron-right{style: 'font-size: 0.8em;'}
    #{@exercise.name}

.row
  .col-lg-12
    .pull-right{style: 'margin: 0 0 10px 10px; max-width: 250px;'}
      %ul.list-group
        %li.list-group-item.text-center.active
          %strong
            = @exercise.alias.humanize
        %li.list-group-item
          %strong #{References::Exercise.human_attribute_name 'equipments'}:
          = @exercise.equipments.map{ |m| m.name }.join(', ').html_safe
        %li.list-group-item
          %strong #{References::Exercise.human_attribute_name 'body_parts'}:
          = @exercise.body_parts.map{ |b| link_to(b.name, b) }.join(', ').html_safe
        %li.list-group-item
          %strong #{References::Exercise.human_attribute_name 'muscles'}:
          = @exercise.muscles.map{ |m| link_to(m.name, m) }.join(', ').html_safe

    = markdown(@exercise.description)

.modal.fade#confirm-delete{tabindex:"-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
        %h4.modal-title#myModalLabel #{t '.modal_delete.title'}
      .modal-body
        = t '.modal_delete.body'
      .modal-footer
        %button{type: "button", class: "btn btn-default", data: {dismiss: "modal"}} #{t '.modal_delete.cancel'}
        = link_to @exercise, class: "btn btn-danger btn-ok", method: 'delete' do
          %i.fa.fa-trash-o
          = t '.actions.delete'