%div.login

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t('.forgot'), new_password_path(resource_name)
    %br

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to t('.reconfirmation'), new_confirmation_path(resource_name)
    %br

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to t('.unlock'), new_unlock_path(resource_name)
    %br

  - if devise_mapping.omniauthable? && %w(registrations sessions).include?(controller_name)
    %div.socialButtons.row
      - resource_class.omniauth_providers.each do |provider|
        %div.col-xs-4.col-sm-4.colSocial
          = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-#{auth_provider_to_css(provider)}" do
            %i.fa.fa-2x{class: "fa-#{auth_provider_to_css(provider)}"}
            %span.hidden-xs