%h3
  - if can? :manage, @muscle
    .dropdown.pull-right
      %a.btn.btn-sm.btn-primary.dropdown-toggle#dropdownMenu1{type: "button", data:{toggle:"dropdown"}, aria:{haspopup:"true", expanded:"false"}}
        %i.fa.fa-cog
        %span.caret
      %ul.dropdown-menu{aria:{labelledby:"dropdownMenu1"}}
        %li
          = link_to edit_references_muscle_path(@muscle) do
            %i.fa.fa-edit
            = t 'muscles.actions.edit'
        %li
          = link_to references_muscle_pictures_path(@muscle) do
            %i.fa.fa-file-image-o
            = t 'muscles.actions.pictures_manage'
        %li
          = link_to '#', data: { toggle: "modal", target: "#confirm-delete"} do
            %i.fa.fa-trash-o
            = t 'muscles.actions.delete'

  %div{style: 'margin-right: 50px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'}
    = link_to References::Muscle.model_name.human(count: ''), references_muscles_path
    %i.fa.fa-chevron-right{style: 'font-size: 0.8em;'}
    #{@muscle.name}

.row
  .col-lg-12
    .pull-right{style: 'margin: 0 0 10px 10px; max-width: 250px;'}
      %ul.list-group
        %li.list-group-item.text-center.active
          %strong
            = @muscle.alias.humanize
        %li.list-group-item
          %strong #{References::Muscle.human_attribute_name 'shape'}:
          = @muscle.shape.human_name
        %li.list-group-item
          %strong #{References::Muscle.human_attribute_name 'body_parts'}:
          = @muscle.body_parts.map{ |b| link_to(b.name, b) }.join(', ').html_safe
        %li.list-group-item
          %strong #{References::Muscle.human_attribute_name 'exercises'}:
          = @muscle.exercises.map{ |e| link_to(e.name, e) }.join(', ').html_safe

    = markdown(@muscle.description)

.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %strong #{References::Muscle.human_attribute_name 'pictures'}
        [
        %a{href: "#images", data: { toggle: "collapse"} } +
        ]
    #images.panel-collapse.collapse
      .panel-body
        .row
          - @muscle.pictures.each do |p|
            .col-xs-6.col-sm-6.col-md-3
              .thumbnail
                = link_to p.image_url, rel: 'lightbox', data: {lightbox: 'anatomy', title: p.name} do
                  = image_tag p.image_url(:small)
                .caption
                  %strong #{p.name}

.modal.fade#confirm-delete{tabindex:"-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
        %h4.modal-title#myModalLabel #{t 'muscles.modal_delete.title'}
      .modal-body
        #{t 'muscles.modal_delete.body'}
      .modal-footer
        %button{type: "button", class: "btn btn-default", data: {dismiss: "modal"}} #{t 'muscles.modal_delete.cancel'}
        = link_to @muscle, class: "btn btn-danger btn-ok", method: 'delete' do
          %i.fa.fa-trash-o
          = t 'muscles.actions.delete'
