%h3 Добро пожаловать на ресурс

%p
  На данный момент справочник содержит информацию о
  %strong #{t '.muscles', count: @muscle_count}
  распределнных в
  %strong #{t '.categories', count: @body_part_count} частей тела.

%p
  Также справочник насчитывает
  %strong #{t '.exercises', count: @exercise_count}.

%p
  Зарегестрированных пользователей в системе:
  %strong #{@user_count}

%p
  Текущее системное время
  %strong #{l Time.now, format: :short}