- cache 'welcome#index', :expires_in => 5.minutes do
  %h3 Добро пожаловать на ресурс

  %p
    На данный момент справочник содержит информацию о
    %strong #{t '.muscles', count: Muscle.count}
    распределнных в
    %strong #{t '.categories', count: BodyPart.count} частей тела.

  %p
    Также справочник насчитывает
    %strong #{t '.exercises', count: Exercise.count}.

  %p
    Зарегестрированных пользователей в системе:
    %strong #{User.count}

%p
  Текущее системное время
  %strong #{l Time.now, format: :short}