%h3
  #{link_to @parent.class.model_name.human(count: ''), index_of_model_path(@parent)}
  %i.fa.fa-chevron-right{style: 'font-size: 0.8em;'}
  #{link_to @parent.name, @parent}
%h3
  #{t 'pictures.index.title'}

%table.table.table-striped
  %thead
    %tr
      %th #{Picture.human_attribute_name 'id'}
      %th #{Picture.human_attribute_name 'name'}
      %th #{Picture.human_attribute_name 'image'}
      %th #{t '.actions'}
  %tbody#picture-list

:coffeescript
  $ ->
    pictures = new App.Collections.Pictures #{json_for @pictures},
      url: '#{ muscle_pictures_path(@parent) }'
    new App.Views.Pictures.Index(collection: pictures).render()