%h3
  #{link_to @parent.class.model_name.human(count: ''), index_of_model_path(@parent)}
  %i.fa.fa-chevron-right{style: 'font-size: 0.8em;'}
  #{link_to @parent.name, @parent}
%h3
  #{t 'pictures.index.title'}

#pictures

:coffeescript
  $ ->
    window.app = new App.Routers.Pictures
      pictures: #{json_for @pictures}
      url: '#{ muscle_pictures_path(@parent) }'
      el: '#pictures'
    Backbone.history.start()