%h2
  = link_to 'Exercises', exercises_path
  \\
  #{@exercise.name}

  .dropdown.pull-right
    %a.btn.btn-sm.btn-primary.dropdown-toggle#dropdownMenu1{type: "button", data:{toggle:"dropdown"}, aria:{haspopup:"true", expanded:"false"}}
      %i.fa.fa-cog
      %span.caret
    %ul.dropdown-menu{aria:{labelledby:"dropdownMenu1"}}
      %li
        = link_to edit_exercise_path(@exercise) do
          %i.fa.fa-edit
          Edit
      %li
        = link_to '#', data: { toggle: "modal", target: "#confirm-delete"} do
          %i.fa.fa-trash-o
          Delete

%strong Latin:
= @exercise.alias.humanize

%br

%strong Body Parts:
= @exercise.body_parts.map{ |b| link_to(b.name, body_part_path(b)) }.join(', ').html_safe

%br

%strong Muscles:
= @exercise.muscles.map{ |m| link_to(m.name, muscle_path(m)) }.join(', ').html_safe

%br

%strong Description:
%br
= @exercise.description

.modal.fade#confirm-delete{tabindex:"-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
        %h4.modal-title#myModalLabel Confirm Delete
      .modal-body
        You are about to delete exercise, this procedure is irreversible.
        Do you want to proceed?
      .modal-footer
        %button{type: "button", class: "btn btn-default", data: {dismiss: "modal"}} Cancel
        = link_to exercise_path(@exercise), class: "btn btn-danger btn-ok", method: 'delete' do
          %i.fa.fa-trash-o
          Delete