%ul.nav.nav-pills.nav-stacked
  = menu_link_to user_path(current_user) do
    %span.glyphicon.glyphicon-home
    Home
  = menu_link_to '' do
    %span.glyphicon.glyphicon-envelope
    Messages
    %span.badge.badge-info 4
  = menu_link_to '' do
    %span.glyphicon.glyphicon-comment
    Comments
    %span.badge.badge-info 10
  = menu_link_to '' do
    %span.glyphicon.glyphicon-user
    Members
  = menu_link_to edit_user_registration_path do
    %span.glyphicon.glyphicon-briefcase
    Profile
  = menu_link_to '' do
    %span.glyphicon.glyphicon-cog
    Settings
  = menu_link_to destroy_user_session_path, :method => :delete do
    %span.glyphicon.glyphicon-log-out
    Logout