%ul.nav.nav-pills.nav-stacked
  = menu_link_to references_muscles_path do
    %i.fa.fa-fw.fa-book
    = References::Muscle.model_name.human(count: '')
    - cache 'muscles_count', :expires_in => 5.minutes do
      %span.badge.badge-info #{References::Muscle.count}
  = menu_link_to references_exercises_path do
    %i.fa.fa-fw.fa-book
    = References::Exercise.model_name.human(count: '')
    - cache 'exercises_count', :expires_in => 5.minutes do
      %span.badge.badge-info #{References::Exercise.count}

  - if current_user
    = menu_link_to journal_items_path do
      %i.fa.fa-fw.fa-book
      = Journal.model_name.human
    = menu_link_to users_path do
      %i.fa.fa-fw.fa-user
      = t 'users.members'
      - cache 'users_count', :expires_in => 5.minutes do
        %span.badge.badge-info #{User.count}
    = menu_link_to edit_user_registration_path do
      %i.fa.fa-fw.fa-briefcase
      = t 'users.profile'
    = menu_link_to destroy_user_session_path, :method => :delete do
      %i.fa.fa-fw.fa-sign-out
      = t 'sessions.sign_out'
  - else
    = menu_link_to new_user_session_path do
      %i.fa.fa-sign-in
      = t 'sessions.sign_in'