!!! 5
%html(lang="en")
  %head
    %title= content_for?(:title) ? yield(:title) : I18n.t(:sitename)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body
    = render partial: 'layouts/header'
    %div.container
      - if notice
        %div.alert.alert-info{:role => "alert"}= notice
      - if alert
        %div.alert.alert-danger{:role => "alert"}= alert
      = yield