!!! 5
%html(lang="en")
  %head
    %title= content_for?(:title) ? yield(:title) : I18n.t(:sitename)
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'g.ico'

    :coffeescript
      $ ->
        $('.datepicker').datepicker({
          language: '#{I18n.locale}',
          format: 'dd.mm.yyyy'
        });

  %body
    .page-container
      .container
        = render partial: 'layouts/header'
      .container
        .row.row-offcanvas.row-offcanvas-left
          .col-xs-6.col-md-3.col-sm-4.sidebar-offcanvas#sidebar{role:"navigation"}
            = render partial: 'layouts/menu'
          .col-xs-12.col-md-9.col-sm-8
            - if notice
              .alert.alert-info.alert-3s{:role => "alert"}= notice
            - if alert
              .alert.alert-danger.alert-3s{:role => "alert"}= alert
            = yield