= render layout: 'edit' do |f|

  %div.form-group
    = f.label :email, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-envelope
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "e-mail"
      %span.help-block
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          Currently waiting confirmation for: #{resource.unconfirmed_email}

  %div.form-group
    = f.label :name, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-user
        = f.text_field :name, class: 'form-control', placeholder: User.human_attribute_name('name')
      %span.help-block

  %div.form-group
    = f.label :first_name, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :first_name, class: 'form-control', placeholder: User.human_attribute_name('first_name')
      %span.help-block

  %div.form-group
    = f.label :last_name, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :last_name, class: 'form-control', placeholder: User.human_attribute_name('last_name')
      %span.help-block

  %div.form-group
    = f.label :gender, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.btn-group.pull-right{data:{toggle: 'buttons'}, style: 'width:100%'}
        - [[User.human_attribute_name('gender.female'), 'f'], [User.human_attribute_name('gender.male'), 'm']].each do |gender|
          = label_tag nil, class: "btn btn-default #{ 'active' if gender[1] == @user.gender }", style: 'width: 50%' do
            = f.radio_button(:gender, gender[1], checked: gender[1] == @user.gender)
            = gender[0]

  %div.form-group
    = f.label :birthday, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm.date
        %span.input-group-addon
          %i.fa.fa-fw.fa-th
        = f.text_field :date_of_birth, value: birthday(@user), :class => 'datepicker form-control', data: {provide: 'datepicker'}
      %span.help-block


%div.row
  %div.col-sm-offset-3.col-sm-7.col-md-5.col-md-offset-4
    = link_to registration_path(resource_name), class: "btn-block btn btn btn-danger",  data: { confirm: "Are you sure?" }, method: :delete do
      %i.fa.fa-trash-o
      = t '.drop_acct'

:coffeescript
  $ ->
    $('.datepicker').datepicker
      language: I18n.locale
      format: 'dd.mm.yyyy'