= render layout: 'edit', locals: {action: 'contacts'} do |f|

  %div.form-group
    = f.label :country, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :country, autofocus: true, class: 'form-control', placeholder: User.human_attribute_name('country')
      %span.help-block

  %div.form-group
    = f.label :city, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :city, class: 'form-control', placeholder: User.human_attribute_name('city')
      %span.help-block