= render layout: 'edit', locals: {action: 'password'} do |f|

  %div.form-group
    = f.label :password, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: User.human_attribute_name('password')
      %span.help-block

  %div.form-group
    = f.label :password_confirmation, class: 'col-sm-3 col-md-4 control-label'
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: User.human_attribute_name('password_confirmation')
      %span.help-block

  - if resource.encrypted_password.present?
    %div.form-group
      = f.label :current_password, class: 'col-sm-3 col-md-4 control-label'
      %div.col-sm-7.col-md-5
        %div.input-group.input-group-sm
          %span.input-group-addon
            %i.fa.fa-fw.fa-lock
          = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: User.human_attribute_name('current_password')
        %span.help-block