%div.login
  %h3.authTitle Sign up or #{link_to 'Login', new_session_path(resource_name)}

  = form_for(resource, as: resource_name, url: registration_path(resource_name), data: {model: resource_name}) do |f|
    %div.form-group
      %div.input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-envelope
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "e-mail"
      %span.help-block

    %div.form-group
      %div.input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-user
        = f.text_field :name, autofocus: true, class: 'form-control', placeholder: "name"
      %span.help-block

    %div.form-group
      %div.input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-lock
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "password"
      %span.help-block

    %div.form-group
      %div.input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-lock
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "password confirmation"
      %span.help-block
    %div.form-group
      = button_tag(type: 'submit', class: "btn btn-lg btn-primary btn-block") do
        %i.fa.fa-sign-in
        Sign Up

= render "users/shared/links"

- if resource.errors.any?
  :coffeescript
    $ ->
      $("form[data-model=#{resource_name}]").renderFormErrors(#{resource.errors.to_json.html_safe});