= devise_error_messages!
%div.login
  %h3.authTitle #{t '.signup_or'} #{link_to t('users.sessions.new.login'), new_session_path(resource_name)}

  = form_for(resource, as: resource_name, url: registration_path(resource_name), data: {model: resource_name}) do |f|
    %div.form-group
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-fw.fa-envelope
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "e-mail"
      %span.help-block

    %div.form-group
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('.placeholder_password')
      %span.help-block

    %div.form-group
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('.placeholder_confirmation')
      %span.help-block
    %div.form-group
      = button_tag(type: 'submit', class: "btn btn-lg btn-primary btn-block") do
        %i.fa.fa-sign-in
        = t '.signup'

= render "users/shared/links"

- if resource.errors.any?
  :coffeescript
    $ ->
      $("form[data-model=#{resource_name}]").renderFormErrors(#{resource.errors.to_json.html_safe});